.section {
  padding: 60px 0 30px;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  &.overlay {
    padding: 0;
    .overlay-inner {
      padding: 60px 0 30px;
      background-color: rgba(0, 0, 0, .3);
    }
  }
  @media screen and (max-width: 991px) {
    padding: 40px 0 10px;
  }
  &.info-section {
    padding-bottom: 23%;
    background-position: center bottom -60px;
    .section-header {
      margin-bottom: 70px;
    }
    .container {
      width: 100%;
      max-width: 1280px;
    }
    @media screen and (max-width: 991px) {
      .section-header {
        margin-bottom: 30px;
      }
    }
  }
}
.bg_light-gray {
  background-color: $default-lighter-color;
}
.section-header {
  margin-bottom: 40px;
  .section-title {
    margin-bottom: 15px;
    font-size: 2.3rem;
    color: #682F90;
  }
  .section-sub-title {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
    .section-title {
      font-size: 1.8rem;
    }
  }
  .section-title-alt {
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 1.5;
    @media screen and (max-width: 991px) {
      font-size: 1.25rem;
    }
  }
}

.plx_info-row {
  display: flex;
  //align-items: baseline;
  padding-left: 60px;
  margin-bottom: 80px;
  .plx_info-col {
    position: relative;
    background-color: #ffffff;
    width: 27%;
    border: 2px solid rgba($default-dark-color, .2);
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.center {
      width: 46%;
      z-index: 5;
      -webkit-box-shadow: 0 0 15px rgba($default-dark-color, .3);
      -moz-box-shadow: 0 0 15px rgba($default-dark-color, .3);
      box-shadow: 0 0 15px rgba($default-dark-color, .3);
      margin: -30px 0;
    }
    &:first-child {
      margin-right: -30px;
      padding-right: 50px;
    }
    &:last-child {
      margin-left: -30px;
      padding-left: 50px;
    }
  }
  .info-list {
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      list-style-type: none;
      & > a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px dashed rgba($default-dark-color, .15);
        &:hover {
          text-decoration: none;
        }
      }
      &:last-child > a {
        border-bottom: 0 none;
      }
      .plx_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: .8rem;
        background-color: $primary-color;
        color: #ffffff;
        margin-right: 6px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
    padding-left: 0;
    .plx_info-col {
      width: 100%;
      display: block;
      &.center {
        width: 100%;
        margin: 30px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      &:first-child {
        margin-right: 0;
        padding-right: 20px;
      }
      &:last-child {
        margin-left: 0;
        padding-left: 20px;
      }
    }
  }
}

.section.full-width-video {
  border: 50px solid #ffffff;
  -webkit-background-size: cover;
  background-size: cover;
  @media screen and (max-width: 991px) {
    border: 0 none;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .video-inner-content {
    width: 100%;
    text-align: center;
  }
  .video-title {
    font-size: 2.8rem;
    color: #ffffff;
  }
  .video-play-btn {
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    border: 1px solid $secondary-color;
    line-height: 82px;
    text-align: center;
    font-size: 2rem;
    color: $secondary-color;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &:hover {
      text-decoration: none;
      color: #ffffff;
      background-color: $secondary-color;
    }
  }
}


.award-post {
  margin-bottom: 60px;
  display: block;
  .post-desc {
    padding: 15px;
  }
  &:hover {
    -webkit-box-shadow:  0 5px 12px rgba(0, 0, 0, .08);
    -moz-box-shadow:  0 5px 12px rgba(0, 0, 0, .08);
    box-shadow:  0 5px 12px rgba(0, 0, 0, .08);
    background-color: #ffffff;
  }
  &:hover {
    text-decoration: none;
  }
  .post-title {
    margin-bottom: 12px;
  }
}