//font-family: 'Roboto Slab', serif;
//font-family: 'Poppins', sans-serif;

// Fonts Family
$default-font: 'Poppins', 'SolaimanLipi', sans-serif;
$headline-font: 'Roboto Slab', serif;


$default-color: #545f76;
$default-dark-color: #373F51;
$default-light-color: #a2adba;
$default-lighter-color: #f8fcff;

$primary-color: #682F90;
$primary-dark-color: #532573;
$primary-light-color: #956db1;
$primary-lighter-color: #efeaf3;

$secondary-color: #91DC5A;
$secondary-dark-color: #659a3e;
$secondary-light-color: #b2e68b;
$secondary-lighter-color: #f4fbee;

$green-color: #4CAF50;
$green-dark-color: #2E7D32;
$green-light-color: #81C784;
$green-lighter-color: #E8F5E9;

$orange-color: #FF9800;
$orange-dark-color: #F57C00;
$orange-light-color: #FFB74D;
$orange-lighter-color: #FFF3E0;

$purple-color: #9C27B0;
$purple-dark-color: #7B1FA2;
$purple-light-color: #AB47BC;
$purple-lighter-color: #F3E5F5;

$indigo-color: #3F51B5;
$indigo-dark-color: #303F9F;
$indigo-light-color: #7986CB;
$indigo-lighter-color: #E8EAF6;