span.error,
label.error {
  color: red;
  font-style: italic;
}

.period_picker_input {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.period_picker_input:before {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.text-cluster {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container-alt {
  max-width: 991px;
  margin: 0 auto;
  width: 100%;
}

.attribute {
  margin-top: 12px;
  border: 1px solid #e3e3e3;
}

.attribute .attr-header {
  padding: 5px 15px;
  background-color: #e3e3e3;
}

.attribute .attr-body {
  padding: 10px 15px 0;
}


#addProductForm label.error {
  width: auto;
  display: inline;
  color: red;
  font-style: italic;
}

.alert-required {
  color: red;
  font-style: italic;
  padding-top: 3px;
}

.page-header.navbar .page-logo .logo-default {
  margin: 3px 40px 0;
  height: 41px;
}

#add_edit_category label.error {
  width: auto;
  display: inline;
  color: red;
  font-style: italic;
}

.alert-required {
  color: red;
  font-style: italic;
  padding-top: 3px;
}

.alert-required ul {
  padding: 0px;
}

.plx__tree-wrap {
  overflow: auto;
  max-height: 650px;
  max-width: 100%;
}

#plx__tree,
#plx__tree ul {
  padding: 0;
  margin: 0;
}

#plx__tree {
  background-color: #f4f4f4;
  padding: 12px;
}

#plx__tree ul {
  padding-top: 8px;
  display: none;
}

#plx__tree ul.expanded {
  display: block;
}

#plx__tree li {
  position: relative;
  padding-left: 22px;
  list-style-type: none;
  margin-bottom: 8px;
}

#plx__tree li:last-child {
  margin-bottom: 0;
}

#plx__tree li > a,
#plx__tree li > span {
  padding-left: 20px;
  position: relative;
}

#plx__tree li > span::before,
#plx__tree li > a::before {
  content: '\f114';
  position: absolute;
  top: -1px;
  left: 0;
  font-family: FontAwesome;
}

#plx__tree li > span::before {
  top: -2px;
  left: 5px;
  content: '\f105';
}

#plx__tree li > a.is-open::before {
  content: '\f115';
}

.plx__radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 2px solid #999;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.plx__radio input[type="radio"] {
  display: none;
}

.plx__radio > span {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  position: absolute;
  top: 2px;
  left: 2px;
}

.plx__radio input[type="radio"]:checked ~ span {
  background-color: #999999;
}

.fix-height-box {

}

/*Tree*/
ul.tree, ul.tree * {
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px 0;
}

ul.tree img.arrow {
  padding: 2px 0 0 0;
  border: 0;
  width: 20px;
}

ul.tree li {
  /*padding: 4px 0 0 0;*/
}

ul.tree li ul {
  padding: 0 0 0 20px;
  margin: 0;
}

ul.tree label {
  cursor: pointer;
  font-weight: normal;
  padding: 2px 0;
  transform: translateY(-5px);
  margin-left: 3px;
}

ul.tree label.hover {
  color: red;
}

p {
  margin: 5px 15px;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.tree li .arrow {
  width: 14px;
  height: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: left;
  background: transparent no-repeat 0 4px;
  margin-top: -3px;
  margin-right: 8px;
}

ul.tree li .collapsed {
  background-image: url(../img/collapsed.gif);
}

ul.tree li .expanded {
  background-image: url(../img/expanded.gif);
}

ul.tree li .checkbox {
  width: 20px;
  height: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: left;
  background: url(../img/check0.gif) no-repeat 0 0px;
}

ul.tree li .checked {
  background-image: url(../img/check2.gif);
}

ul.tree li .half_checked {
  background-image: url(../img/check1.gif);
}

/*Checkbox*/
.plx__checkbox-custom,
.plx__radio-custom {
  position: relative;
  padding-left: 22px;
  display: block;
  margin-bottom: 12px;
}

.plx__checkbox-custom input[type="checkbox"],
.plx__radio-custom input[type="radio"] {
  display: none;
}

.plx__checkbox-custom > span,
.plx__radio-custom > span {
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  border: 2px solid #929292;
  display: block;
}

.plx__checkbox-custom > span::after,
.plx__radio-custom > span::after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: transparent;
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
}

.plx__radio-custom > span,
.plx__radio-custom > span::after {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.plx__checkbox-custom input[type="checkbox"]:checked ~ span::after,
.plx__radio-custom input[type="radio"]:checked ~ span::after {
  background-color: #929292;
}

/*Plx User Profile*/
.plx__user-profile {
  margin: -25px -20px 0;
}

.plx_portlet-title {
  margin: 0 0 20px;
  font-weight: 600;
  color: #455A64;
  font-size: 1.356em;
}

.plx__user-profile .left-part {
  width: calc(100% - 340px);
  min-height: 200px;
  padding: 25px 20px;
  border-right: 1px solid #e3e3e3;
  float: left;
}

.plx__user-profile .right-part {
  overflow: hidden;
  padding: 25px 20px;
  width: 340px;
  min-height: calc(100vh - 50px);
  background-color: #ffffff;
  height: 100%;
}

.plx__user-profile .profile-inner-block {
  max-width: 736px;
  width: 100%;
  margin: 0 auto;
}

.plx__user-profile .profile-cover {
  margin-bottom: 50px;
  color: #6e8c9e;
}

.plx__user-profile .profile-information {
  overflow: hidden;
}

.plx__user-profile .plx__user-avatar {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  float: right;
  margin-left: 30px;
}

.plx__user-profile .profile-cover .profile-basic {
  margin-bottom: 20px;
}

.plx__user-profile .profile-cover .profile-name {
  font-weight: 700;
  color: #455A64;
  margin-top: 0;
}

.plx__user-profile .profile-cover .profile-name a {
  color: #455A64;
}

.plx__user-profile .profile-cover .profile-name a:hover {
  text-decoration: none;
}

.plx__user-profile .profile-cover .p-address {
  margin: 0 0 10px;
}

.plx__user-profile .profile-cover .meta-info {
  margin: 0;
}

.plx__user-profile .stc-block {
  float: left;
  width: 33.333333333%;
  padding-right: 10px;
}

.plx__user-profile .stc-no {
  font-size: 1.325em;
  font-weight: 700;
  color: #455A64;
}

.plx__widget {
  margin-bottom: 30px;
}

.plx__widget .widget-title {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 1em;
  color: #455A64;
  font-weight: 700;
}

.plx__widget .widget-list {
  padding: 0;
  margin: 0;
}

.plx__widget .widget-list li {
  list-style-type: none;
}

.activity-list {
  padding: 0;
  margin: 0;
}

.activity-list li {
  list-style-type: none;
  padding-right: 40px;
  margin-bottom: 15px;
  position: relative;
}

/*.activity-list li::after {
    content: '\f073';
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(144, 164, 174, 0.5);
    color: #ffffff;
    position: absolute;
    top: 1px;
    right: 0;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-family: FontAwesome;
}*/
.activity-list .act-text {
  margin: 0 0 5px;
}

.activity-list .act-time {
  font-size: .9em;
  color: #8896a0;
}

.flex-box-wrap {
  float: left;
  margin-left: -25px;
}

.flex-box {
  width: 50%;
  padding-left: 25px;
}

/*Nestable*/
.dd-handle {
  height: 40px;
  padding: 0 15px;
  line-height: 38px;
  margin: 0;
}

.dd-item {
  margin-bottom: 5px;
}

.dd-item:last-child {
  margin-bottom: 0;
}

.dd-item > button {
  width: 26px;
  height: 26px;
}

.dd-list .dd-list {
  margin-top: 5px;
}

.expand-collapse-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  display: block;
}

.expand-collapse-btn .icon__expand {
  display: none;
}

.expand-collapse-btn.open .icon__collapse {
  display: none;
}

.expand-collapse-btn.open .icon__expand {
  display: inline-block;
}

.dd-list .options {
  position: relative;
  display: none;
  width: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #ccc;
}

.side-block {
  padding: 17px 20px 15px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
}

.side-block .block-title {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 0 17px;
  padding: 0 10px;
  border-left: 2px solid #ccc;
  font-weight: 700;
}

.side-block .side-block-footer {
  padding-top: 10px;
}

ul.side-list.tree label {
  margin-top: -5px;
}

ul.side-list.tree {
  max-height: 200px;
  overflow-x: hidden;
}

ul.tree.side-list li ul {
  margin-top: 6px;
}


.brands-list {
  padding: 0;
}

.brands-list li {
  display: inline-block;
  margin: 0 5px 9px 0;
  vertical-align: middle;
}

.brands-list label {
  display: block;
  cursor: pointer;
}

.brands-list label input[type='radio'] {
  display: none;
}

.brands-list label span {
  height: 44px;
  width: 80px;
  line-height: 42px;
  text-align: center;
  display: block;
  border: 1px solid rgba(69, 90, 100, 0.1523);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.brands-list label input[type='radio']:checked ~ span {
  border: 1px solid #9C27B0;
}

.brands-list label img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

/*New Tracking Design*/
.tracking-status-box {
  position: relative;
  padding: 20px;
  border: 1px solid #e3e3e3;
  text-align: center;
  margin-bottom: 30px;
}

.tracking-status-box::after {
  content: attr(data-number);
  font-size: 3.2em;
  font-weight: bold;
  position: absolute;
  bottom: 2px;
  right: 10px;
  opacity: .12;
}

.tracking-status-box.completed {
  opacity: .3;
}

.tracking-status-box.completed::after {
  content: '\f00c';
  font-family: FontAwesome;
  opacity: .3;
}

.tracking-status-box.completed,
.tracking-status-box.active {
  background-color: #9C27B0;
  border-color: #8d25a0;
  color: #ffffff;
}

.tracking-status-box .title {
  margin: 0 0 25px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.tracking-status-box .date {
  font-size: 1em;
  font-weight: 600;
  margin-top: 15px;
  color: #626262;
}

.tracking-status-box .text {
  margin-top: 15px;
  font-size: .85em;
}

.tracking-status-box.completed .date,
.tracking-status-box.active .date {
  color: #f6bcff;
}

.tracking-status-box .icon {
  font-size: 2.5em;
  display: inline-block;
}

/*Tracking*/
.tracking-status-wrap {
  position: relative;
  margin-bottom: 15px;
}

.tracking-status-wrap .vr-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: rgba(69, 90, 100, 0.1);
}

.tracking-status-wrap .tracking-status::before,
.tracking-status-wrap .tracking-status::after {
  content: '';
  display: table;
  visibility: hidden;
}

.tracking-status-wrap .tracking-status::after {
  clear: both;
}

.tracking-status-wrap .status-name {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.tracking-status-wrap .plx__text {
  margin: 8px 0 0 !important;
  padding: 0;
}

.tracking-status-wrap .tracking-status {
  text-align: right;
  margin-bottom: 20px;
}

.tracking-status-wrap .tracking-status .tracking-date {
  display: block;
  font-size: .85em;
  margin-top: 3px;
  color: #a9a9a9;
}

.tracking-status-wrap .tracking-status:last-child {
  margin-bottom: 0;
}

.tracking-status-wrap .tracking-status:nth-child(2n) {
  text-align: left;
}

.tracking-status-wrap .status-inner {
  position: relative;
  width: 50%;
  padding-right: 50px;
}

.tracking-status-wrap .status-inner {
  color: #757575;
}

.tracking-status-wrap .status-inner .status-name {
  color: #454545;
  margin-bottom: 8px;
}

.tracking-status-wrap .status-inner .status-name:last-child {
  margin-bottom: 0;
}

.tracking-status-wrap .tracking-status:nth-child(2n) .status-inner {
  float: right;
  padding-left: 50px;
  padding-right: 0;
}

.tracking-status-wrap .status-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -20px;
  font-family: FontAwesome;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #d3d3d3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #999999;
}

.tracking-status-wrap .status-inner.complete-stage::before {
  content: '\f00c';
  background-color: #07c25f;
  color: #ffffff;
}

.tracking-status-wrap .status-inner.order-place::before {
  content: '\f218';
}

.tracking-status-wrap .status-inner.preparing-parcel::before {
  content: '\f187';
}

.tracking-status-wrap .status-inner.warehouse-left::before {
  content: '\f015';
}

.tracking-status-wrap .status-inner.in-transit::before {
  content: '\f0d1';
}

.tracking-status-wrap .status-inner.stage-delivered::before {
  content: '\f046';
}

.tracking-status-wrap .tracking-status:nth-child(2n) .status-inner::before {
  left: auto;
  margin-left: 0;
  right: 100%;
  margin-right: -20px;
}

.tracking-status-wrap .status-inner .status-text {
  background-color: #ffffff;
  position: relative;
  padding: 15px;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: .6;
}

.tracking-status-wrap .status-inner.complete-stage .status-text {
  opacity: 1;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .1);
}

.tracking-status-wrap .status-inner .status-text::before,
.tracking-status-wrap .status-inner .status-text::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e9e9e9;
}

.tracking-status-wrap .status-inner .status-text::after {
  border-left: 10px solid #ffffff;
  margin-left: -2px;
}

.tracking-status-wrap .tracking-status:nth-child(2n) .status-inner .status-text::before,
.tracking-status-wrap .tracking-status:nth-child(2n) .status-inner .status-text::after {
  left: auto;
  right: 100%;
  border-right: 10px solid #e9e9e9;
  border-left: 0 none;
}

.tracking-status-wrap .tracking-status:nth-child(2n) .status-inner .status-text::after {
  border-right: 10px solid #ffffff;
  margin-left: 0;
  margin-right: -2px;
}

/*Horizontal ShippingStatus Bar*/
.horizontal-status-bar {
  position: relative;
}

.horizontal-status-bar .bar-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: transparent;
  width: 100%;
  display: block;
}

.step-texts {
  position: relative;
}

.step-texts,
.hor-steps {
  position: relative;
}

.hor-steps .hor-step,
.step-texts .step-text {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
}

.hor-steps .hor-step {
  position: relative;
  margin-bottom: 40px;
}

.hor-steps .hor-step::after {
  content: '\f178 ';
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: -8px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2em;
  color: #d5d5d5;
}

.hor-steps .hor-step:last-child::after {
  content: '';
}

.step-texts .step-text {
  position: relative;
  padding-top: 20px;
  border-top: 2px solid #d5d5d5;
  color: #656565;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.step-texts .step-text.step-complete {
  border-top-color: #8CC543;
}

.step-texts .step-text.step-cancelled {
  border-top-color: red;
}

.hor-steps .hor-step .plx__icon {
  font-size: 3em;
  color: #656565;
}

.step-texts .step-text::before {
  content: '';
  position: absolute;
  top: -19px;
  left: 50%;
  width: 38px;
  height: 38px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  display: block;
  z-index: 1;
}

.step-texts .step-text::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  display: block;
  padding-left: 2px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

.step-texts .step-text.step-complete::after {
  content: '\f00c';
  border: 1px solid #8CC543;
  background-color: #8CC543;
  color: #fff;
}

.step-texts .step-text.step-cancelled::after {
  content: '\f00d';
  border: 1px solid red;
  background-color: red;
  color: #fff;
}

@media print {
  body {
    visibility: hidden;
  }

  #section-to-print {
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
  }
}

/*Spinner*/
.overlay-wrap {
  position: relative;
  min-height: 80px;
  display: none;
}

.anim-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #8E44AD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.plx__btn_lg {
  display: block;
  padding: 5px 15px 5px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  margin: 5px 0;
  color: #ffffff;
}

.status-update-btn {
  background-color: #8E44AD;
  color: #ffffff;
}

.status-cancel-btn {
  background-color: rgba(222, 0, 0, 0.2);
  color: #de0000;
}

.plx__btn_lg.status-cancel-btn img {
  padding: 7px;
}


.plx__btn_lg.default {
  color: #666;
  background-color: #e1e5ec;
}

.plx__btn_lg.primary {
  background-color: #8E44AD;
}

.plx__btn_lg.info {
  background-color: #3598dc;
}

.plx__btn_lg.success {
  background-color: #5cb85c;
}

.plx__btn_lg.warning {
  background-color: #e2d209;
  color: #0f0f11 !important;
}

.plx__btn_lg.danger {
  background-color: #de0000;
}


.plx__btn_lg.default.overlay {
  opacity: .3;
  color: #666;
  background-color: #e1e5ec;
}

.plx__btn_lg.primary.overlay {
  opacity: .3;
  background-color: #8E44AD;
}

.plx__btn_lg.info.overlay {
  opacity: .3;
  background-color: #1e669a;
}

.plx__btn_lg.success.overlay {
  opacity: .3;
  background-color: #549654;
}

.plx__btn_lg.warning.overlay {
  opacity: .3;
  background-color: #848058;
  color: #0f0f11 !important;
}

.plx__btn_lg.danger.overlay {
  opacity: .3;
  background-color: gray;
}

.plx__btn_lg.status-cancel-btn.overlay {
  opacity: .3;
  background-color: gray;
  color: #de0000;
}


.plx__btn_lg img,
.plx__btn_lg span {
  display: inline-block;
  vertical-align: middle;
}

.plx__btn_lg img {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  margin-right: 8px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  height: 28px;
  width: auto;
}

.plx__btn_lg img {
  background-color: rgba(0, 0, 0, .15);
}

.plx__btn_lg:hover,
.plx__btn_lg:focus,
.plx__btn_lg:active {
  color: #ffffff;
  text-decoration: none;
}

.status-cancel-btn:hover,
.status-cancel-btn:focus,
.status-cancel-btn:active {
  color: #de0000;
  text-decoration: none;
}

.plx__label {
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: .9em;
  display: inline-block;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plx__label.default {
  color: #666;
  background-color: #e1e5ec;
}

.plx__label.primary {
  color: #8E44AD;
  background-color: rgba(142, 68, 173, 0.14);
}

.plx__label.info {
  color: #3598dc;
  background-color: rgba(53, 152, 220, 0.14);
}

.plx__label.success {
  color: #5cb85c;
  background-color: rgba(92, 184, 92, 0.14);
}

.plx__label.warning {
  color: #6a6008;
  background-color: rgba(236, 224, 10, 0.18);
}

.plx__label.danger {
  color: #de0000;
  background-color: rgba(222, 0, 0, 0.14);
}

/*Loader*/

/*Loader*/
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  z-index: 555;
  padding: 100px;
  display: none;
}

.loader,
.loader:after {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  width: 6em;
  height: 6em;
}

.loader {
  overflow: hidden;
  position: fixed;
  top: 320px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 80px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(92, 88, 175, 0.21);
  border-right: 1.1em solid rgba(92, 88, 175, 0.21);
  border-bottom: 1.1em solid rgba(92, 88, 175, 0.21);
  border-left: 1.1em solid #5c58af;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .filter-nav-wrap {
    position: unset;
    top: auto;
    width: 100%;
    margin-bottom: -30px;
  }
}

.main-slide-item {
  position: relative;
  margin-bottom: 30px;
  display: block;
}

.main-slide-item .remove-slide {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 5px;
  background-color: #ffffff;
  color: #ff0000;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: .7;
  border: 0 none;
}

.main-slide-item .remove-slide:hover {
  opacity: 1;
  text-decoration: none;
}

.section-title {
  margin-bottom: 25px;
}

/**/
.sr-only {
  display: none !important;
}

.d-flex {
  display: flex;
}

.v-middle {
  align-items: center;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.nowrap {
  white-space: nowrap;
}

.text-primary {
  color: #9C27B0 !important;
}

.text-warning {
  color: #FFBC42 !important;
}

.text-danger {
  color: #DF2935 !important;
}

.text-info {
  color: #2589BD !important;
}

.text-success {
  color: #7FB069 !important;
}

/* Information Card */
.info-card {
  margin-bottom: 20px;
}

.info-card .title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px;
  opacity: .8;
}

.info-card .value {
  font-size: 4.5rem;
  font-weight: bold;
  color: #113A1B;
}

.info-card .value.text-success {
  color: #36c6d3 !important;
}

.info-card .value.text-info {
  color: #659be0 !important;
}

.information-cards {
  display: flex;
  justify-content: space-around;
  margin: 0 -10px;
}

.information-cards .information-item {
  padding: 0 10px;
  width: 20%;
  flex: 0 0 20%;
}

.information-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px 20px 10px;
  border: 1px solid #e7ecf1 !important;
  height: calc(100% - 20px);
  position: relative;
  overflow: hidden;
}

.information-card::before,
.information-card::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: -50%;
  background-color: rgba(0, 0, 0, .03);
}

.information-card::before {
  top: -30%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.information-card::after {
  bottom: -75%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



.information-card.primary {
  background-color: #8977A9 !important;
}

.information-card.info {
  background-color: #4E88BA !important;
}

.information-card.success {
  background-color: #4E88BA !important;
}

.information-card.warning {
  background-color: #4E88BA !important;
}

.information-card.danger {
  background-color: #4E88BA !important;
}

.information-card .title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px;
  opacity: .7;
}

.information-card .value {
  font-size: 3.5rem;
  font-weight: bold;
  color: #113A1B;
}

.information-card .value.sm {
  font-size: 2.8rem;
}

.block-card {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.block-card .block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #efefef;
  padding: 0 20px;
}

.block-card .block-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
}

.block-card .block-body {
  padding: 20px;
}

.block-card .card-body-top-part {
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.info-card .info-title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 12px;
}

.info-card .info-value {
  font-size: 18px;
  font-weight: bold;
}

